.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(5, 2, 78) !important;
    transition: all 0.4s;
}

/** LOGIN **/
#barraNavegacion {background-color: rgba(5, 2, 78) !important;}
button.navbar-toggler {background-color: #fff;}
body {
    background-image: url("../img/ucifondo.jpg");
    background-color: rgba(0,0,0,0.7);
    background-size: cover;
    opacity: 0.9;
}
/***********/
h2{
    background-color: rgba(5, 2, 78);
    color: white;
    font: bold;
    font-family: 'Wellfleet', cursive;
}

i.fa-whatsapp-square {color: #28a745;}
i.fa-facebook-square {color: #3B5998;}
i.fa-twitter-square {color: #55ACEE;}
i.fa-instagram-square {color: #125688;}
i.fa-linkedin {color: #007bb5;}
i.fa-youtube-square {color: #E00E0B;}
i.fa-map-marker-alt {color: #0D9DBD;}
i.fa-file-download {color: #E00E0B;}
i.fa-heartbeat {color: #fff;}

p{color: black;}

.badge, .btnAgregar{
    background-color: rgba(5, 2, 78);
    color: white;
    text-decoration: none;
}

.btnAgregar:hover{color: grey;}

h5.tituloEntrada{font-family: 'Monofett', cursive;}

#options{background-color: rgba(5, 2, 78);}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {margin-left: -17rem;}

#content.active {
    width: 100%;
    margin: 0;
}

button #sidebarCollapse{background-color: rgba(5, 2, 78);}

@media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {letter-spacing: 0.1em;}

.text-gray {color: black;}
